/* write your css here */
/* iphone 4 & 4s */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {}

/* iphone 5, 5s,5c */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px){}

/* iphone 6s, 6, 7  */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) {}

/* iphone 6+, 7+, 8+ */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) {}

/* iphone x */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)  {}

/* Android -Galaxy s3*/
@media only screen 
  and (min-device-width: 400px) 
  and (max-device-width: 750px) {}
